* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, rgb(62, 62, 141), rgb(18, 18, 41)) no-repeat;
    background-size: cover;
}

input[type=text],
input[type=number],
input[type=date] {
    border: 1px solid black;
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    resize: vertical;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus {
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: all .5s ease-out;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.hijo {
    text-align: center;
    color: white;
    width: 50%;
    margin-bottom: 12px;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(62, 62, 141), rgb(27, 27, 61)) no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.boton {
    margin-top: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

select {
    margin-top: 5px;
    height: 50px;
    cursor: pointer;
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    color: black;
    transition: all .5s ease;
}